<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VERIFICAR COM PROFESSOR
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Bem vindo</title>
</head>

<body>
    <div class="base">

        <div class="left_side">
            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/clientsIcon.png" alt="Clients Icon" class="clientsIcon">
                    </div>
                    <div class="col">
                        <p class="menuLabels">Clientes</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/serviceOrderIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col">
                        <p class="menuLabels">Serviços</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/reportsIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col ">
                        <p class="menuLabels">Relatórios</p>
                    </div>
                </div>
            </button>
        </div>

        <div class="right_side">

            <section class="right_top">
                <div class="grafico-container">
                    <h2 class="titulo text-white">Visão Geral</h2>
                    <canvas id="pieChart" width="400" height="400"></canvas>
                </div>

                <div class="delayedservices text-white">

                    <h1 class="font-bold text-center text-xl"> Serviços Atrasados / Próximos do Prazo</h1>
                    <div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10">
                        <table class="w-full table-fixed">
                            <thead>
                                <tr class="" style="background-color: var(--color-panel);">
                                    <th class="w-1/4 py-4 px-6 text-left text-white-600 font-bold uppercase">Name</th>
                                    <th class="w-1/4 py-4 px-6 text-left text-white-600 font-bold uppercase">Email</th>
                                    <th class="w-1/4 py-4 px-6 text-left text-white-600 font-bold uppercase">Phone</th>
                                    <th class="w-1/4 py-4 px-6 text-left text-white-600 font-bold uppercase">Status</th>
                                </tr>
                            </thead>
                            <tbody class="">
                                <tr>
                                    <td class="py-4 px-6 border-b border-gray-200">John Doe</td>
                                    <td class="py-4 px-6 border-b border-gray-200 truncate">johndoe@gmail.com</td>
                                    <td class="py-4 px-6 border-b border-gray-200">555-555-5555</td>
                                    <td class="py-4 px-6 border-b border-gray-200">
                                        <span class="bg-green-500 text-white py-1 px-2 rounded-full text-xs">ENTREGUE</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="py-4 px-6 border-b border-gray-200">Jane Doe</td>
                                    <td class="py-4 px-6 border-b border-gray-200 truncate">janedoe@gmail.com</td>
                                    <td class="py-4 px-6 border-b border-gray-200">555-555-5555</td>
                                    <td class="py-4 px-6 border-b border-gray-200">
                                        <span class="bg-red-500 text-white py-1 px-2 rounded-full text-xs">ATRASADO</span>
                                    </td>
                                </tr>                               
                            </tbody>
                        </table>
                    </div>
                </div>
        </div>
        </section>

        <footer>
            <p id="footerRealTime"></p>
            <img src="../public/img/dboffRed.png" alt="Icone banco de dados" id="iconeDB">
        </footer>
    </div>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../public/js/renderer.js"></script>
    <script src="../public/js/footer.js"></script>

</body>

</html>