<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VERIFICAR COM PROFESSOR
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Bem vindo</title>
</head>

<body>
    <div class="base">

        <div class="left_side">
            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/clientsIcon.png" alt="Clients Icon" class="clientsIcon">
                    </div>
                    <div class="col">
                        <p class="menuLabels">Clientes</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/serviceOrderIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col">
                        <p class="menuLabels">Serviços</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/reportsIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col ">
                        <p class="menuLabels">Relatórios</p>
                    </div>
                </div>
            </button>
        </div>

        <div class="right_side">

            <section class="right_top">
                <div class="grafico-container">
                    <h2 class="titulo text-white">Visão Geral</h2>
                    <canvas id="pieChart" width="400" height="400"></canvas>
                </div>

                <div class="delayedservices text-white">

                    <h1 class="font-bold text-center text-xl"> Serviços Atrasados / Próximos do Prazo</h1>
                    <table class="table-fixed">
                        <thead>
                            <tr>
                                <th width="200px">Cliente</th>
                                <th width="200px">Prazo</th>
                                <th width="200px">Opções</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Walter White</td>
                                <td>29/05/2025</td>
                                <td><button>Visualizar</button></td>
                            </tr>
                            <tr>
                                <td>Guilherme Rosa</td>
                                <td>05/06/2025</td>
                                <td><button>Visualizar</button></td>
                            </tr>
                            <tr>
                                <td>Thiago Moura</td>
                                <td>10/06/2025</td>
                                <td><button>Visualizar</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </div>
        </section>

        <footer>
            <p id="footerRealTime"></p>
            <img src="../public/img/dboffRed.png" alt="Icone banco de dados" id="iconeDB">
        </footer>
    </div>
    <!--
        <footer class="">
            <p id="dateRealTime" class="text-white"></p>
            <img src="../public/img/dboffRed.png" alt="Icone Banco de Dados" id="bdIcon">
        </footer>
    </section>-->


    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../public/js/renderer.js"></script>
    <script src="../public/js/footer.js"></script>

</body>

</html>