<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- VERIFICAR COM PROFESSOR
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline' ">
    -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../public/css/style.css" rel="stylesheet">
    <title>Bem vindo</title>
</head>

<body>
    <section class="base">

        <div class="left_side">
            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/clientsIcon.png" alt="Clients Icon" class="clientsIcon">
                    </div>
                    <div class="col ">
                        <p class="menuLabels">Clientes</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/serviceOrderIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col">
                        <p class="menuLabels">Serviços</p>
                    </div>
                </div>
            </button>

            <button class="text-white px-4 py-2 rounded hover:bg-purple-700 transition btn-sm btnStyle mt-1">
                <div class="row">
                    <div class="col imageColumn">
                        <img src="../public/img/serviceOrderIcon.png" alt="Service Order Icon" class="soIcon">
                    </div>
                    <div class="col ">
                        <p class="menuLabels">Relatórios</p>
                    </div>
                </div>
            </button>
        </div>

        <div class="right_side">


            <div class="grafico-container">
                <h2 class="titulo text-white">Visão Geral</h2>
                <canvas id="pieChart" width="400" height="400"></canvas>
            </div>
        </div>


        <footer>
            <p id="footerRealTime"></p>
            <img src="../public/img/dboffRed.png" alt="Icone banco de dados" id="iconeDB">
        </footer>
    </section>
    <!--
        <footer class="">
            <p id="dateRealTime" class="text-white"></p>
            <img src="../public/img/dboffRed.png" alt="Icone Banco de Dados" id="bdIcon">
        </footer>
    </section>-->


    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../public/js/renderer.js"></script>

</body>

</html>