<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <link href="../public/css/serviceOrderRegistrationStyle.css" rel="stylesheet" />
  <title>Ordem de Serviço</title>
</head>

<body>
  <div class="panel">

    <!-- SEARCH SECTION -->
    <section class="searchSection flex items-center px-4">
      <form id="frmSearchClient" class="flex items-center gap-4 w-full">
        <input type="text" name="searchName" class="inputStyle" id="searchClientsInput"
          placeholder="  Buscar...                                                                                       🔍︎" />
        <button type="submit" id="searchBtn" onclick="searchClients()" class="btns">BUSCAR</button>
      </form>
    </section>

    <hr class="blockDivision border-t-2 border-[var(--color-primary)] mx-auto mt-2 opacity-40 rounded" />


    <section class="osSection">

      <form id="osForm" class="">

        <!-- ID oculto -->
        <input type="text" id="inputIdClient" class="inputStyle w-full" readonly />
        <!-- Nome -->
        <input type="text" class="inputStyle" id="inputNome" placeholder="  Nome *" required readonly />

      </form>
  </div>

  </section>
  <h1 class="text-2xl mb-4 font-semibold">Cadastro de Ordem de Serviço</h1>


  <!-- FOOTER -->
  <footer>
    <p id="footerRealTime"></p>
    <img src="../public/img/dboffRed.png" alt="Icone banco de dados" id="iconeDB" />
  </footer>

  <!-- SCRIPTS -->
  <script src="../public/js/serviceOrderRegistrationRenderer.js"></script>
  <script src="../public/js/footer.js"></script>
</body>

</html>