@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* Fundo */
    --color-background: #1E1E2F;
    --color-panel: #2A2A3D;

    /* Cores principais */
    --color-primary: #7C3AED;
    /* Roxo vibrante */
    --color-secondary: #3B82F6;
    /* Azul vivo */

    /* Textos */
    --color-text-primary: #E0E0E0;
    --color-text-secondary: #A0A0B5;

    /* Feedbacks */
    --color-error: #EF4444;
    --color-success: #22C55E;
}

* {
    margin: 0px;

}

body {
    background-color: #1E1E2F;
}

.base {
    width: 990px;
    height: max-content;
    display: flex;
    flex-direction: row;
    position: relative;
}

/* MENU - LATERAL ESQUERDA */
.left_side {
    height: 610px;
    width: 250px;
    background-color: #2A2A3D;
    border-radius: 5px;
    align-items: center;
    margin-left: 5px;
    margin-top: 5px;
}

.btnStyle {
    margin: auto;
    background-color: #1E1E2F;
    border: 1px solid #7C3AED;
    width: 240px;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.imageColumn {
    width: 100px;
}

.clientsIcon {
    width: 48px;
}

.soIcon {
    width: 48px;
}

.menuLabels {
    margin-top: 10px;
    font-size: 1.2em;
}

/* - LADO DIREITO */

.right_side {
    height: 610px;
    width: 730px;
    background-color: #2A2A3D;
    border-radius: 5px;
    margin-left: 5px;
    margin-top: 5px;
}

.right_top{
    height: 300px;
    display: flex;
    flex-direction: row;
}

.delayedservices{
    background-color: #1E1E2F;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 5px;
    width: 495px;
    padding-top: 5px;
    padding-left: 5px;
}

.grafico-container {
    margin-top: 5px;
    margin-left: 5px;
    background-color: #1E1E2F;
    border-radius: 5px;
    width: 220px;
    text-align: center;
}

.titulo {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

th{
    background-color: var(--color-panel);
}


.middown{
    width: 100px;
    height: 100px;
    background-color: var(--color-error);
    margin-right: 270px;
    margin-top: 500px;
}



/* RODAPE */

footer {
    height: 30px;
    width: 985px;
    background-color: #2A2A3D;
    bottom: 0px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    position: fixed;
}

footer p {
    font-size: 0.8em;
    margin-bottom: 10px;
    margin-left: 5px;
    color: #FFF;
}

footer img {
    margin-right: 5px;
    margin-top: 5px;
    height: 25px;
    width: 25px;
}

#footerRealTime {
    margin-top: 5px;
    margin-left: 10px;
}